{{ template "base_top" . }}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8">
        <h2 class="text-2xl font-bold mb-8 text-center text-gray-900">Forgot Password</h2>
        {{ if .Error }}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">{{ .Error }}</span>
            <br /><br />
            <span>Contact mail@tradingcage.com to resolve.</span>
        </div>
        {{ end }}
        {{ if .Message }}
        <div class="bg-emerald-100 border border-emerald-400 text-emerald-700 px-4 py-3 rounded relative mb-3" role="alert">
            <span class="block sm:inline">{{ .Message }}</span>
        </div>
        {{ end }}
        <form action="/forgot-password" method="POST" class="space-y-6">
            <div>
                <label for="email" class="text-sm font-medium text-gray-700">Email address:</label>
                <input type="email" id="email" name="email" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200">
            </div>
            <div>
                <button type="submit" class="w-full bg-indigo-600 text-white font-bold py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">Send Reset Link</button>
            </div> 
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">
                Back to login
            </a>
        </p>
    </div>
</div>
{{ template "base_bottom" . }}
