{{ template "base_top" . }}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8">
        <h2 class="text-2xl font-bold mb-8 text-center text-gray-900">Create your account</h2>
        {{ if .Error }} <!-- Check if there is an error in the template data -->
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
            <strong class="font-bold">Error:</strong>
            <span class="block sm:inline">{{ .Error }}</span>
            <br /><br />
            <span>Contact mail@tradingcage.com for more information.</span>
        </div>
        {{ end }}
        {{ if .Message }}
        <div class="bg-emerald-100 border border-emerald-400 text-emerald-700 px-4 py-3 rounded relative mb-3" role="alert">
            <span class="block sm:inline">{{ .Message }}</span>
        </div>
        {{ end }}
        <form action="/register" method="POST" class="space-y-6">
            <div>
                <label for="username" class="text-sm font-medium text-gray-700">Enter your email address:</label>
                <input type="email" id="username" name="username" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200">
            </div>
            <div>
                <label for="password" class="text-sm font-medium text-gray-700">Create a password:</label>
                <input type="password" id="password" name="password" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200">
            </div>
            <div>
                <button type="submit" class="w-full bg-indigo-600 text-white font-bold py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">Start 7-day free trial</button>
            </div> 
        </form>
        <p class="flex justify-around text-sm text-gray-600 mt-6 pt-6 border-t-2 border-gray-100 text-center">
            <a href="/" class="text-indigo-600 hover:text-indigo-700">Take me back</a>
        </p>
    </div>
</div>

{{ template "base_bottom" . }}